* {

  box-sizing: border-box;
  font-family: "Open Sans", sans-serif;
}

.heading {
  text-align: center;
  font-family: "Open Sans", sans-serif;
  margin-top: 60px;
}
.heading a {
  text-decoration: none;
  color: rgba(25, 133, 255, 0.986);
}
h1 {
  font-weight: 900;
}
h4 {
  font-family: "Open Sans", sans-serif;
  font-weight: 400;
  font-size: 18px;
}
.content {
  font-family: "Quicksand", sans-serif;
  margin-top: 40px;
  text-align: center;
}
.months {
  width: 60%;
  margin: auto;
  /* background-color: red; */
}
.months h3 {
  font-size: 28px;
  font-weight: 600;
}
.months li {
  font-size: 16px;
  display: list-item;
  text-decoration: none;
  text-align: left;
  margin: 0;
  padding: 0;
}

.months ul {
  width: 40%;
  margin: auto;
  padding: 0;
  list-style-type: disc;
  list-style-position: inside;
}
li a {
  font-weight: bolder;
  text-decoration: none;
  color: rgb(65, 124, 250);
}

@media screen and (max-width: 600px) {
  body {
    width: 90%;
    margin: auto;
  }
  .heading h1{
    font-size: 40px;
    /* text-align: left; */
  }
  .heading{
    margin-top: 20px;
  }
  .months {
    width: 90%;
    margin: auto;
  }
  .months h3 {
    text-align: left;
  }
  .months li {
    width: 90%;
    text-align: left;
  }
  .months ul {
    width: 100%;
    text-align: left;
    padding-left: 10px;
  }
  .heading h4 {
    line-height: 25px;
    width: 80%;
    margin: auto;
  }
}

@media screen and (max-width: 1200px) {
  .months ul {
    width: 100%;
  }
}

/* DARK MODE */
@media (prefers-color-scheme: dark) {
  body {
    background-color: #1F1D36;
    color: white;
  }
}
